@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

/* for story3 */
#home{
    background-image: url(granite.jpg);
    background-repeat: no-repeat;
    background-size: 50% 100vh;
    background-color: #F9BEBE;
    font-family: Lobster;
}
.navbar{
    font-family: Montserrat, serif;
    font-size: 20px;
}
.navbar a:hover{
    font-weight: bold;
    text-decoration: none;
}
#home .name {
    position: absolute;
    top: 60%;
    left: 50%;
}
#home .satu{
    transform: translate(-55%, -170%);
    font-size: 400%;
}
#home .dua{
    transform: translate(-30%, -210%);
    font-size: 400%;
}

/* for story3.1 */

#page1 * {
    box-sizing: border-box;
}
#page1{
    background-image: url(background.png);
    background-size: cover;
    font-family: Montserrat;
    text-align: center;
} 
#page1 .awal{
    font-family: Lobster;
    margin-top: 27%;
    margin-left: 9%;
}
#page1 .inpen{
    font-family: Montserrat;
    font-size: 180%;
}
#page1 #halo{
    font-size: 400%;
}
#page1 img{
    margin-top: 15%;
}
#page1 #me{
    font-size: 380%;
    font-family: Lobster;
    margin-top: 20%;
}
#page1 #info{
    margin-left: -2%;
    margin-top: 3%;
    font-size: 150%;
}
#page1 #edu{
    font-size: 380%;
    font-family: Lobster;
    margin-top: 4%;
}
#page1 #eduinfo{
    margin-left: -2%;
    margin-top: 3%;
    font-size: 150%;
}
#page1 #exp{
    font-size: 380%;
    font-family: Lobster;
    margin-top: 4%;
}
#page1 #expinfo{
    margin-left: -2%;
    margin-top: 3%;
    font-size: 150%;
}
#page1 #skills{
    font-size: 380%;
    font-family: Lobster;
    margin-top: 4%;
}
#page1 #skillsinfo{
    margin-left: -2%;
    margin-top: 3%;
    font-size: 150%;
    margin-bottom: 10%;
}

/* for story3.3 */
#page2{
    font-family: Montserrat;
    background-color: rgb(238, 154, 123);
    color: white;
}
#page2 .cm{
    color: black;
    font-family: Lobster;
    margin-left: 10%;
    padding-top: 4%;
}
#page2 #cme{
    font-size: 10vh;
}
#page2 .contact{
    margin-left: 10%;
    padding-top: 2%;
}
#page2 .medsos {
    position: absolute;
    margin-left: 18%;
    margin-top: 3%;
}
#page2 .icon {
    width: 50px;
    margin-left: 10px;
}

/* for schedule */
.schedulepage {
    font-family: Lobster;
    background-color: #F6CAB5;
    height: 100vh;
    color: white;
}

.schedulepage .title{
    font-family: Lobster;
    font-size: 10vh;
} 
.schedulepage .article{
    font-family: Montserrat;
    font-size: 2vh;
}
.schedulepage #buttonschedule{
    margin-top: 2%;
}

.btn-warning{
    font-family: Montserrat;
    background-color: rgb(247, 167, 167);
    border-color: whitesmoke;
}
/* for schedule_create */
.page4{
    background-color: #F6CAB5;
    color: white;
    height: 120vh;
    font-family: Montserrat;
}

.page4 #judulcreate{
    font-family: Lobster;
    font-size: 10vh;
}

