{% load static%}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(255, 210, 210, 0.56);;">
        <div class="container-fluid" font-family: Montserrat>
          <div class="navbar-header">
            <a class="nav-item active" href="{%url 'home'%}"><span class="sr-only">(current)</span>
              <img src= "{% static 'logo SL.png' static %}" width="50" height="50" alt="logo">
            </a>
          </div>  
            <ul class="nav navbar-nav navbar-right">
              <li><a class="mx-3" href="{% url 'about' %}" style="color: #202020"><span class="glyphicon glyphicon-user"></span> About</a></li>
              <li><a class="mx-3" href="{% url 'contact me' %}" style="color: #202020"><span class="glyphicon glyphicon-log-in"></span> Contact Me</a></li>
              <li><a class="mx-3" href="{% url 'schedule' %}" style="color: #202020"><span class="glyphicon glyphicon-log-in"></span> My Schedule</a></li>
            </ul>
        </div>
      </nav>