{% extends "base.html" %}
{% load static%}
{% block content %}  
<div class="page4">
    <div class="container-fluid">
    <div class = "title" id="judulcreate">
            <p class="title-text text-center"><strong>S c h e d u l e</strong></p>
    </div>

    <div class="margin-small form-design">
    <form class="css" action="{% url 'schedule_create' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                {% for fields in form %}
                    {{ fields.label_tag }}
                    <br>
                    {{ fields }}
                    <br><br>
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-1"></div>
            <input type="submit" button type="button" class="btn btn-warning btn-style" value="Add New Schedule"></button>
            <div class="col-sm-7"></div>
            <a href="{% url 'schedule' %}"><button type="button" class="btn btn-warning btn-style">Back</button></a>
        </form>
    </div>
</div>
</div>
{% endblock %}
    